---
http_interactions:
- request:
    method: post
    uri: https://staging-express.delhivery.com/fm/request/new/
    body:
      encoding: UTF-8
      string: '{"pickup_time":"16:30:00","pickup_date":"20170330","pickup_location":"AutomatedTestsWarehouse","expected_package_count":4}'
    headers:
      Authorization:
      - Token --api-key-here--
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message:
    headers:
      allow:
      - POST, OPTIONS
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pickup_id": 4363128, "client_name": "PROQUORE", "pickup_location_name":
        "AutomatedTestsWarehouse", "incoming_center_name": "HQ", "pickup_time": "16:30:00",
        "pickup_date": "2017-03-30", "expected_package_count": 4}'
  recorded_at: Wed, 29 Mar 2017 06:59:06 GMT
- request:
    method: post
    uri: https://staging-express.delhivery.com/fm/request/new/
    body:
      encoding: UTF-8
      string: '{"pickup_time":"16:30:00","pickup_date":"20170330","pickup_location":"AutomatedTestsWarehouse","expected_package_count":4}'
    headers:
      Authorization:
      - Token --api-key-here--
      Content-type:
      - application/json
  response:
    status:
      code: 401
      message:
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 17 May 2022 15:01:25 GMT
      allow:
      - POST, OPTIONS
      www-authenticate:
      - Token
    body:
      encoding: UTF-8
      string: |-
        There has been an error but we were asked to not let you see that.
                                    Please contact the dev team.
  recorded_at: Tue, 17 May 2022 15:01:25 GMT
recorded_with: VCR 3.0.3
