---
http_interactions:
- request:
    method: get
    uri: https://staging-express.delhivery.com/c/api/pin-codes/json/?filter_codes=411008%2C411007%2C411006
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token --api-key-here--
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"delivery_codes": [{"postal_code": {"district": "Pune", "pin": 411006,
        "max_amount": 0.0, "pre_paid": "Y", "cash": "Y", "pickup": "Y", "repl": "Y",
        "cod": "Y", "sort_code": "PNQ/VAD", "is_oda": "N", "state_code": "MH", "max_weight":
        0.0}}, {"postal_code": {"district": "Pune", "pin": 411007, "max_amount": 0.0,
        "pre_paid": "Y", "cash": "Y", "pickup": "Y", "repl": "Y", "cod": "Y", "sort_code":
        "PNQ/PAS", "is_oda": "N", "state_code": "MH", "max_weight": 0.0}}, {"postal_code":
        {"district": "Pune", "pin": 411008, "max_amount": 0.0, "pre_paid": "Y", "cash":
        "Y", "pickup": "Y", "repl": "Y", "cod": "Y", "sort_code": "PNQ/PDP", "is_oda":
        "N", "state_code": "MH", "max_weight": 0.0}}]}'
  recorded_at: Wed, 29 Mar 2017 06:00:57 GMT
- request:
    method: get
    uri: https://staging-express.delhivery.com/c/api/pin-codes/json/?filter_codes=411008%2C411007%2C411006
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token --api-key-here--
      Content-type:
      - application/json
  response:
    status:
      code: 401
      message:
    headers:
      content-type:
      - text/html; charset=utf-8
      last-modified:
      - Tue, 17 May 2022 15:01:26 GMT
    body:
      encoding: UTF-8
      string: |-
        There has been an error but we were asked to not let you see that.
                                    Please contact the dev team.
  recorded_at: Tue, 17 May 2022 15:01:26 GMT
recorded_with: VCR 3.0.3
