---
http_interactions:
- request:
    method: post
    uri: https://staging-express.delhivery.com/api/backend/clientwarehouse/create/
    body:
      encoding: UTF-8
      string: '{"name":"AutomatedTestsWarehouse","registered_name":"AutomatedTests","email":"auutomated_tests@example.com","address":"123,
        sector 40 Gurgaon","pin":"132103","phone":"8888888888","city":"Delhi","state":"Delhi","country":"India"}'
    headers:
      Authorization:
      - Token --api-key-here--
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      allow:
      - POST, OPTIONS
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data": {"name": "AutomatedTestsWarehouse", "pincode": "132103", "phone":
        8888888888, "client": "PROQUORE", "address": "123, sector 40 Gurgaon", "active":
        false, "message": "Warehouse could not be marked active.Your request has been
        forwarded to vendor Desk team and they will activate it in 24 hours"}, "success":
        true, "error": ""}'
  recorded_at: Wed, 29 Mar 2017 06:15:30 GMT
- request:
    method: post
    uri: https://staging-express.delhivery.com/api/backend/clientwarehouse/create/
    body:
      encoding: UTF-8
      string: '{"name":"AutomatedTestsWarehouse","registered_name":"AutomatedTests","email":"auutomated_tests@example.com","address":"123,
        sector 40 Gurgaon","pin":"132103","phone":"8888888888","city":"Delhi","state":"Delhi","country":"India"}'
    headers:
      Authorization:
      - Token --api-key-here--
      Content-type:
      - application/json
  response:
    status:
      code: 401
      message:
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 17 May 2022 15:01:27 GMT
      allow:
      - POST, OPTIONS
      www-authenticate:
      - Token
    body:
      encoding: UTF-8
      string: |-
        There has been an error but we were asked to not let you see that.
                                    Please contact the dev team.
  recorded_at: Tue, 17 May 2022 15:01:27 GMT
recorded_with: VCR 3.0.3
