---
http_interactions:
- request:
    method: post
    uri: https://staging-express.delhivery.com/api/backend/clientwarehouse/status/
    body:
      encoding: UTF-8
      string: '{"name":"AutomatedTestsWarehouse"}'
    headers:
      Authorization:
      - Token --api-key-here--
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      allow:
      - POST, OPTIONS
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data": {"active": false, "message": "''AutomatedTestsWarehouse''
        ClientWarehouse isn''t active.", "name": "AutomatedTestsWarehouse", "pincode":
        132103}, "success": true, "error": ""}'
  recorded_at: Wed, 29 Mar 2017 06:17:06 GMT
- request:
    method: post
    uri: https://staging-express.delhivery.com/api/backend/clientwarehouse/status/
    body:
      encoding: UTF-8
      string: '{"name":"AutomatedTestsWarehouse"}'
    headers:
      Authorization:
      - Token --api-key-here--
      Content-type:
      - application/json
  response:
    status:
      code: 401
      message:
    headers:
      content-type:
      - application/json
      last-modified:
      - Tue, 17 May 2022 15:01:27 GMT
      allow:
      - POST, OPTIONS
      www-authenticate:
      - Token
    body:
      encoding: UTF-8
      string: |-
        There has been an error but we were asked to not let you see that.
                                    Please contact the dev team.
  recorded_at: Tue, 17 May 2022 15:01:27 GMT
recorded_with: VCR 3.0.3
